
# To separate your traces from other application
LANGSMITH_PROJECT=new-agent
LANGSMITH_API_KEY=key

# Add API keys for connecting to LLM providers, data sources, and other integrations here
model=
GOOGLE_API_KEY=google-api-key
TAVILY_API_KEY=

# agent name default is flowagent you can change this 
agent_name=flowagent


NEXT_PUBLIC_SUPABASE_URL=supabase-endpoint
NEXT_PUBLIC_SUPABASE_ANON_KEY=annon-key

workflows_drive_location=1-wf5LVkvhUZgu4xKfSPcO7zhOBVRAOB6
